<div class="flex flex-col">
  @if (label) {
    <label for="{{ controlName }}" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ label }}:</label>
  }

  <mat-form-field appearance="fill" class="w-full">
    <mat-select
      multiple
      [formControl]="control"
      [compareWith]="compareChapters"
      [ngClass]="{ 'mat-select-error': inputValidator.showErrors }"
      form_control
      #inputValidator="appValidate"
      [placeholder]="placeholder"
    >
    

      @for (option of options; track option[valueField]) {
        <mat-option [value]="option[valueField]">
            {{ option[displayField] }}
        </mat-option>
      }
    </mat-select>
  </mat-form-field>

  <app-error-message class="ml-1" [show]="inputValidator.showErrors" [errorKey]="inputValidator.firstErrorKey"></app-error-message>
</div>
