<div class="px-4 lg:px-0 grid grid-cols-1 md:grid-cols-2 overflow-hidden h-screen md:bg-none bg-main">
  <div class="hidden md:block">
    <div class="h-full flex justify-center items-center">
      <img src="https://www.freeiconspng.com/uploads/university-student-graduation-png-22.png" class="object-cover w-full" />
    </div>
  </div>

  <div class="flex justify-center max-h-screen relative">
    <div class="border-primary border-solid border-2 rounded-lg h-fit my-auto p-5 w-full lg:w-2/3">
      <div class="flex items-center justify-center">
        <span class="text-primary text-3xl text-center font-bold mb-0.5">جامعہ خدیجۃ الکبریٰ</span>
      </div>
      <!-- <h2 class="text-xl italic font-bold text-center mb-0.5">علم، نظم اور تربیت کا جامع نظام</h2> -->
      <router-outlet />
    </div>
  </div>
</div>
